*{
    margin: 0;
    padding: 0;
}
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .more-posts h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .post-detail img {
    width: 100%;
    height: auto;
  }